body {
    font-family: 'JetBrains Mono', monospace; /* Fonte futurista */
    background: #111; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    overflow: hidden; /* Para o efeito de fundo */
  }
  
  /* Efeito de fundo com grid */
  body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: 
      linear-gradient(to right, #0f0 1px, transparent 1px),
      linear-gradient(to bottom, #0f0 1px, transparent 1px);
    background-size: 20px 20px;
    opacity: 0.2;
    z-index: -1; /* Fica atrás dos outros elementos */
  }
  
  canvas {
    border: 3px solid #0f0; /* Borda verde neon */
    background: linear-gradient(to bottom, #222, #000); /* Gradiente escuro */
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.5); /* Sombra verde */
  }
  
  
  
  #score, #playerIp, #gameOver, #victoryMessage {
    text-align: center;
    margin-top: 10px; 
    text-shadow: 0 0 5px #0f0; /* Sombra neon no texto */
  }
  
  #gameOver {
    color: #f00; /* Vermelho neon */
    font-size: 24px;
  }
  
  #victoryMessage {
    color: #0f0; /* Verde neon */
    font-size: 24px;
  }